.navlogoCustom {
  margin-right: 10px;
}

div.customCard {
  width: 18rem;
}

.customCard h3 {
  cursor: default;
  text-align: center;
}

.customCard th {
  cursor: default;
}

.customCard td {
  cursor: pointer;
}